services:
  loader_frontend:
    build:
      context: .
      dockerfile: frontend/dockerfile
    container_name: loader_frontend_container
    ports:
      - ${FRONTEND_PORT}:8080
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    stdin_open: true
    tty: true
    networks:
      - app-network
  loader_backend:
    build:
      context: .
      dockerfile: backend/dockerfile
    sysctls: 
      net.ipv6.conf.all.disable_ipv6: "1" # deactivate ipv6.
    container_name: loader_backend_container
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    networks:
      - app-network
    volumes:
      - ./out:/out
  ftp-server:
    container_name: ftp
    restart: unless-stopped
    environment:
        - FTP_PASS=${FTP_PASS}
        - FTP_USER=${FTP_USER}
    image: garethflowers/ftp-server
    ports:
        - "20-21:20-21/tcp"
        - "40000-40009:40000-40009/tcp"
    volumes:
        - "./out:/home/${FTP_USER}"

networks:
  app-network:
    driver: bridge